services:
  chroma:
    container_name: chromadb
    image: chromadb/chroma:latest
    volumes:
      - ./chroma-data:/data
      - ./config.yaml:/config.yaml
    ports:
      - "8000:8000"
  upsert:
    container_name: upsert
    build:
      context: ./upsert
      dockerfile: Dockerfile
    depends_on:
      - chroma
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
